.gradient-text {
    background-color: var(--blue-500);
    background-image: linear-gradient(to right, var(--blue-700), var(--pink-700));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.bg-img-form {
    background-image: url(./images/bg-form.png);
    background-repeat: no-repeat;
    background-size: cover;
}